h1 {
    text-align: center;
    color: white;
    text-align: center;
}
body {
    background-color: lightblue;
    color: white;
  }
 h3 {
     text-align: center;
 }
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img {
    border: 5px solid rgb(255, 255, 255);
  }
button.btn .btn-primary .btn-lg{
    color: white
}
section.bg-lightblue {
    color: lightblue
}

button.minutedisplay {
    color: lightblue;
}
button.photobutton{
    color: lightblue;
}

div.card1{
    color: white;
    background-color: lightblue;
}

div.card2{
    color: white;
    background-color: lightblue;
}

div.card3{
    color: white;
    background-color: lightblue;
}

a[class~="btnwhite"] {
    color: white !important;
}


span#drop {

    float: left;
  
    line-height: 85%;
  
    width: .7em;
  
    font-size: 400%;
  
    font-family: georgia;
  
  }

  a.carousel-control-prev {
      color: black;
  }

  a.carousel-control-next {
    color: black;
}
span.carousel-control-prev-icon{
    color: black;
}
span.carousel-control-next-icon{
    color: black;
}

#map { height: 180px; }

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  